* {
  background-color: lightblue;
  font-size: 14px;
  font-style: italic;
  box-sizing: border-box;
}
h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
  font-size: 75px;
}

h2 {
  font-size: large;
  color: cornflowerblue;
}

p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: block;
}

.related {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: darkblue;
}

ul li:first-child {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: medium;
  color: aquamarine;
}

li:nth-child(2) {
  font-family: Arial, Helvetica, sans-serif;
  color: violet;
}

li {
  font-size: 20px;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  display: inline-block;
}

.okay:link {
  color: #0f0f0f;
  text-decoration: none;
}
.okay:visited {
  background-color: aqua;
  color: blue;

  display: inline-block;
}
*/ .okay {
  color: brown;
  display: inline-block;
}
.okay:link {
  text-decoration: none;
  /* font-size: 19px; */
  /* padding: 20px; */
}
.okay:visited {
  background-color: aqua;
  color: midnightblue;
  font-size: 10px;
}
.okay:hover {
  background-color: blue;
  text-decoration: underline;
}
#meta {
  width: 900px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  position: fixed;
  bottom: 20%;
  right: 5%;
}
h1::first-letter {
  font-size: 20%;
}
h2::first-letter {
  color: grey;
  fo  nt-size: 70px;
}
h1::after {
  content: "HII";
  color: maroon;
  font: size 16px;
  font-weight: bold;
  background-color: #ffe70e;
}

#author{ 
  float: left;
  padding-left: 90px;

}
aside{
  width: 300px;
  float: right;
  height: 200px;
}
