h1 {
  color: blue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font: size 200px;
}

h2 {
  color: brown;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
  color: rgb(14, 117, 158);
  font-size: large;
  font-style: italic;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

ol {
  color: blueviolet;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

ul {
  color: rgba(194, 10, 26, 0.966);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

li:first-child {
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
}

ul:last-child {
  font-size: small;
  font-family: "Times New Roman", Times, serif;
  font-style: oblique;
}

ol:nth-child(2) {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: x-large;
}

a:link {
  color: aqua;
}
a:visited {
  color: black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
a:hover {
  color: chartreuse;
}
a:active {
  color: darkblue;
}

footer {
  color: rgba(3, 56, 71, 0.89);
}
